<div class="form">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <mat-form-field class="form-input">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required />
    </mat-form-field>

    <mat-form-field class="form-input">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required />
    </mat-form-field>

    <div class="form-actions">
      <button
        mat-raised-button
        color="accent"
        [routerLink]="['/register']"
        type="button"
      >
        Register
      </button>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </div>
  </form>
</div>
